<app-header titleHeader="Cadastro"></app-header>

<!-- form de usuarios aqui -->
<div class="container-fluid" *ngIf="typeRegister == 'usuario'">
  <h5 style="margin: 3% 1%; color: #0e8282">Dados Cadastrais</h5>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Nome Completo"
      aria-label="Nome"
      style="margin: 0 1%"
    />
  </div>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="CPF"
      aria-label="CPF"
      style="margin: 0 1%"
    />
    <input
      type="text"
      class="form-control"
      placeholder="RG"
      aria-label="RG"
      style="margin: 0 1%"
    />
    <input
      type="date"
      class="form-control"
      placeholder="Data de nascimento"
      aria-label="date"
      style="margin: 0 1%"
    />
  </div>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Endereco"
      aria-label="Endereco"
      style="margin: 0 1%"
    />
    <input
      type="number"
      class="form-control"
      placeholder="DDD + celular"
      aria-label="phone"
      style="margin: 0 1%"
    />
  </div>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Bairro"
      aria-label="Bairro"
      style="margin: 0 1%"
    />
    <input
      type="number"
      class="form-control"
      placeholder="Numero"
      aria-label="Numero"
      style="margin: 0 1%"
    />
    <input
      type="text"
      class="form-control"
      placeholder="CEP"
      aria-label="CEP"
      style="margin: 0 1%"
    />
  </div>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Quantas pessoas moram com voce?"
      aria-label="Quantas pessoas moram com voce?"
      style="margin: 0 1%"
    />
    <input
      type="text"
      class="form-control"
      placeholder="renda per capita Familia"
      aria-label="renda per capita Familia"
      style="margin: 0 1%"
    />
    <input
      type="tel"
      class="form-control"
      placeholder="Profissão"
      aria-label="Profissão"
      style="margin: 0 1%"
    />
  </div>
</div>

<div class="container-fluid" *ngIf="typeRegister == 'usuario'">
  <div
    class="input-group mb-3"
    style="justify-content: space-between; margin: 2% 0 0 0"
  >
    <button type="file" class="btn btn-link" style="color: #0e8282">
      Anexar um comprovante de residencia
    </button>
    <button type="button" class="btn btn-link" style="color: #0e8282">
      Anexar um comprovante de Renda
    </button>
    <button type="button" class="btn btn-link" style="color: #0e8282">
      Anexar um Documento de identificaçao com foto
    </button>
    <button type="button" class="btn btn-link" style="color: #0e8282">
      Anexar foto de perfil
    </button>
  </div>
</div>

<!-- form de gestor aqui -->
<div class="container-fluid" *ngIf="typeRegister == 'gestor'">
  <h5 style="margin: 3% 1%; color: #0e8282">Dados Cadastrais</h5>
  <div class="input-group mb-3">
    <input
      type="email"
      class="form-control"
      placeholder="Nome Completo"
      aria-label="Nome"
      style="margin: 0 1%"
    />
  </div>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="CPF"
      aria-label="CPF"
      style="margin: 0 1%"
    />
    <input
      type="text"
      class="form-control"
      placeholder="RG"
      aria-label="RG"
      style="margin: 0 1%"
    />
    <input
      type="date"
      class="form-control"
      placeholder="Data de nascimento"
      aria-label="date"
      style="margin: 0 1%"
    />
  </div>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Endereco"
      aria-label="Endereco"
      style="margin: 0 1%"
    />
    <input
      type="number"
      class="form-control"
      placeholder="DDD + celular"
      aria-label="phone"
      style="margin: 0 1%"
    />
  </div>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Bairro"
      aria-label="Bairro"
      style="margin: 0 1%"
    />
    <input
      type="number"
      class="form-control"
      placeholder="Numero"
      aria-label="Numero"
      style="margin: 0 1%"
    />
    <input
      type="text"
      class="form-control"
      placeholder="CEP"
      aria-label="CEP"
      style="margin: 0 1%"
    />
    <input
      type="text"
      class="form-control"
      placeholder="Complemento"
      aria-label="Complemento"
      style="margin: 0 1%"
    />
  </div>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Nome da instituiçao que voce trabalha"
      aria-label="Nome da instituiçao que voce trabalha"
      style="margin: 0 1%"
    />
    <input
      type="text"
      class="form-control"
      placeholder="Qual cargo você ocupa?"
      aria-label="Qual cargo você ocupa?"
      style="margin: 0 1%"
    />
  </div>
</div>

<div class="container-fluid" *ngIf="typeRegister == 'gestor'">
  <div
    class="input-group mb-3"
    style="justify-content: space-around; margin: 2% 0 0 0"
  >
    <button type="button" class="btn btn-link" style="color: #0e8282">
      Anexar um Documento de identificaçao com foto
    </button>
    <button type="button" class="btn btn-link" style="color: #0e8282">
      Anexar foto de perfil
    </button>
  </div>
</div>

<!-- formulario de empresa aqui -->

<div class="container-fluid" *ngIf="typeRegister == 'empresa'">
  <h5 style="margin: 3% 1%; color: #0e8282">Dados Cadastrais</h5>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Razao social"
      aria-label="Razao social"
      style="margin: 0 1%"
    />
  </div>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Nome fantasia"
      aria-label="Nome fantasia"
      style="margin: 0 1%"
    />
    <input
      type="text"
      class="form-control"
      placeholder="CNPJ"
      aria-label="CNPJ"
      style="margin: 0 1%"
    />
    <input
      type="date"
      class="form-control"
      placeholder="Data de nascimento"
      aria-label="date"
      style="margin: 0 1%"
    />
  </div>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Endereco"
      aria-label="Endereco"
      style="margin: 0 1%"
    />
    <input
      type="number"
      class="form-control"
      placeholder="DDD + celular"
      aria-label="phone"
      style="margin: 0 1%"
    />
  </div>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Bairro"
      aria-label="Bairro"
      style="margin: 0 1%"
    />
    <input
      type="number"
      class="form-control"
      placeholder="Numero"
      aria-label="Numero"
      style="margin: 0 1%"
    />
    <input
      type="text"
      class="form-control"
      placeholder="CEP"
      aria-label="CEP"
      style="margin: 0 1%"
    />
    <input
      type="text"
      class="form-control"
      placeholder="Complemento"
      aria-label="Complemento"
      style="margin: 0 1%"
    />
  </div>
</div>

<div class="container-fluid" *ngIf="typeRegister == 'empresa'">
  <h5 style="margin: 3% 1%; color: #0e8282">Dados do Responsável</h5>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Nome Completo"
      aria-label="Nome"
      style="margin: 0 1%"
    />
  </div>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="CPF"
      aria-label="CPF"
      style="margin: 0 1%"
    />
    <input
      type="text"
      class="form-control"
      placeholder="RG"
      aria-label="RG"
      style="margin: 0 1%"
    />
    <input
      type="date"
      class="form-control"
      placeholder="Data de nascimento"
      aria-label="date"
      style="margin: 0 1%"
    />
  </div>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Endereco"
      aria-label="Endereco"
      style="margin: 0 1%"
    />
    <input
      type="number"
      class="form-control"
      placeholder="DDD + celular"
      aria-label="phone"
      style="margin: 0 1%"
    />
  </div>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Bairro"
      aria-label="Bairro"
      style="margin: 0 1%"
    />
    <input
      type="number"
      class="form-control"
      placeholder="Numero"
      aria-label="Numero"
      style="margin: 0 1%"
    />
    <input
      type="text"
      class="form-control"
      placeholder="CEP"
      aria-label="CEP"
      style="margin: 0 1%"
    />
    <input
      type="text"
      class="form-control"
      placeholder="Complemento"
      aria-label="Complemento"
      style="margin: 0 1%"
    />
  </div>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Qual cargo você ocupa?"
      aria-label="Quantas pessoas moram com voce?"
      style="margin: 0 1%"
    />
  </div>
</div>
<div class="container-fluid" *ngIf="typeRegister == 'empresa'">
  <div
    class="input-group mb-3"
    style="justify-content: space-around; margin: 2% 0 0 0"
  >
    <button type="button" class="btn btn-link" style="color: #0e8282">
      Anexar ultima alteraçao do cadastro social
    </button>
    <button type="button" class="btn btn-link" style="color: #0e8282">
      Anexar foto de perfil
    </button>
  </div>
</div>
<div class="container-fluid">
  <h5 style="margin: 3% 1%; color: #0e8282">Dados do login</h5>
  <div class="input-group mb-3">
    <input
      type="email"
      class="form-control"
      placeholder="E-mail"
      aria-label="E-mail"
      style="margin: 0 1%"
    />
    <input
      type="password"
      class="form-control"
      placeholder="Senha"
      aria-label="Senha"
      style="margin: 0 1%"
    />
    <input
      type="password"
      class="form-control"
      placeholder="Repetir senha"
      aria-label="Senha"
      style="margin: 0 1%"
    />
  </div>
  <div class="container-fluid" style="padding: 1em 2% 0 0">
    <div class="mb-3 row" style="justify-content: flex-end">
      <!-- <div style="width: 40%"></div> -->
      <button
        class="btn btn-primary"
        type="button"
        routerLink="/register-option"
        style="background-color: #dd5957; width: 15%; margin-right: 2%"
      >
        Voltar
      </button>
      <button
        class="btn btn-primary"
        type="button"
        style="background-color: #0e8282; width: 15%; right: 2em"
      >
        Confirmar
      </button>
    </div>
  </div>
</div>
<div class="container" style="height: 10%"></div>
