<div class="container-fluid justify-content-center" style="padding: 2em">
  <div class="container-fluid">
    <h2 style="border-left: 3px solid #0e8282; padding: 0 0 0 1%">O que é?</h2>
  </div>
  <br />
  <p>
    <b>Você sabia?</b> Todos os dias são descartados cerca de
    <b>41 mil toneladas</b> de alimentos, <b>produtos bons</b> para consumo mas
    prestes a expirar que vão para o <b>lixo</b>.
  </p>
  <p>
    <b>Comida na Mesa</b> é um programa que busca levar esses bons alimentos,
    que seriam descartados por conta do prazo de validade, para a mesa dos
    cidadãos necessitados de Apucarana - PR. Veja como funciona:
  </p>

  <p>
    O programa possui basicamente 3 atores: Empresas Alimentícias, Assistência
    social e Cidadão Necessitado
  </p>
  <p>
    O papel da Assistência Social é criar uma ponte entre os dois outros atores:
    organizar os alimentos doados pelas Empresas Alimentícias em kits e
    distribuir para os Cidadãos Necessitados que fizerem o agendamento para
    retirada dos mesmos. Para facilitar toda a logistica, o programa possui uma
    plataforma web com níveis de acesso específicos para cada um desses atores.
  </p>
  <br />
  <div class="text-center">
    <img
      src=".\assets\images\grades-home.svg"
      class="img-fluid"
      alt="comunidade"
    />
  </div>
  <br />
  <br />
  <br />
  <br />
  <p>
    Dessa forma todos ganham, além de fazer um ato de caridade, as empresas
    contam com benefícios fiscais gerados pela doação, o governo ampara sua
    população e a fome dos cidadãos é amenizada. Quanto maior é a aderência da
    comunidade, maior é a possibilidade de zerarmos os números de famílias com
    fome em Aprcarana, vamos participar?
  </p>
</div>
